header
  nav.teal
    .container.nav-wrapper
      a.brand-logo(href='/') Do It
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.material-icons menu
        ul.right.hide-on-med-and-down
          li#one-li.active
            a(href='/') 导航
          li#two-li
            a(href='/tool') 工具
          li#three-li
            a(href='#') 1024
        ul#mobile-demo.side-nav
          li
            a(href='/') 导航
          li
            a(href='/tool') 工具
          li
            a(href='#') 1024