extends layout
block css
  link(rel='stylesheet', href='/stylesheets/spritev5.css')

block content
  include _navbar
  main
    .container
      .row.col.s12
        .card
          .col.s12.m12.l12.line
            span 社区
          .col.s4.m3.l2.line
            span.block.icon-v2ex
            a(href='https://www.v2ex.com/', target='_blank') V2EX
          .col.s4.m3.l2.line
            span.block.icon-cnode_icon_32
            a(href='https://cnodejs.org/', target='_blank') CNode
          .col.s4.m3.l2.line
            span.block.icon-zhihu
            a(href='https://www.zhihu.com/', target='_blank') 知乎
          .col.s4.m3.l2.line
            span.block.icon-sf
            a(href='https://segmentfault.com/', target='_blank') Segmentfault
          .col.s4.m3.l2.line
            span.block.icon-bl
            a(href='http://www.jobbole.com/', target='_blank') 伯乐在线
          .col.s4.m3.l2.line
            span.block.icon-jianshu
            a(href='http://www.jianshu.com/', target='_blank') 简书
          .col.s12.m12.l12.line
            span 网购
          .col.s4.m3.l2.line
            span.block.icon-tb
            a(href='https://www.taobao.com/', target='_blank') 淘宝
          .col.s4.m3.l2.line
            span.block.icon-jd
            a(href='https://www.jd.com/', target='_blank') 京东
          .col.s4.m3.l2.line
            span.block.icon-yhd
            a(href='http://www.yhd.com/', target='_blank') 一号店
          .col.s4.m3.l2.line
            span.block.icon-apple
            a(href='http://www.apple.com/hk/', target='_blank') 苹果官网
          .col.s12.m12.l12.line
            span 梯子
          .col.s4.m3.l2.line
            span.block.icon-shadow
            a(href='https://shadowsocks.com/', target='_blank') Shadowsocks
          .col.s4.m3.l2.line
            span.block.icon-gfw
            a(href='http://gfw.press/', target='_blank') GFW.press
          .col.s4.m3.l2.line
            span.block.icon-lantern
            a(href='https://github.com/getlantern/forum', target='_blank') 蓝灯
          .col.s12.m12.l12.line
            span 代码托管
          .col.s4.m3.l2.line
            span.block.icon-fluidicon
            a(href='https://github.com/', target='_blank') Github
          .col.s4.m3.l2.line
            span.block.icon-bit
            a(href='https://bitbucket.org', target='_blank') Bitbucket
          .col.s12.m12.l12.line
            span 企业邮箱
          .col.s4.m3.l2.line
            span.block.icon-aliemail
            a(href='http://mail.clcdata.com/', target='_blank') 阿里邮箱
          .col.s4.m3.l2.line
            span.block.icon
            a(href='http://www.qqxmail.com/', target='_blank') QQ企业邮箱
          .col.s12.m12.l12.line
            span 音乐
          .col.s4.m3.l2.line
            span.block.icon-wangyiyun
            a(href='http://music.163.com/', target='_blank') 网易云音乐