doctype html
html
  head
    title Kevin's BookMark
    link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/scripts/css/materialize.css')
    link(rel='stylesheet', href='/stylesheets/icon.css?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block css
  body
    block content
    footer.page-footer.teal
      .footer-copyright
        .container
          | © 2016
          a(href='#!').green-text.text-lighten-4.right (*^__^*)
    script(type='text/javascript', src='/javascripts/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/scripts/js/materialize.min.js')
    script(type='text/javascript', src='/javascripts/index.js')
    block script
